body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 60%;
    margin: 5px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 28%;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 7px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.message {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.success {
    background-color: #a0d468;
    color: #fff;
    width: 60%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.error {
    background-color: #ed5565;
    color: #fff;
    width: 60%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.forecast-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.forecast-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
